<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>一花一世界</title>
<style>
	body{
		font-size:14px;
		font-family:微软雅黑;
	}
	a{
		color:blue;
	}
</style>
</head>

<body>
  <div style="margin-top:150px; text-align:center;">欢迎使用一花一世界，请先注册一个帐号，注册的第一个帐号即为管理员</div>
  <div style="margin-top:35px; text-align:center; font-size:50px; font-weight:bold;"><a href="/register/">立即注册</a></div>
</body>
</html>
